<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TinyFileManager.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="TinyFileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
      <!--<customErrors mode="Off"/>-->
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <applicationSettings>
    <TinyFileManager.NET.Properties.Settings>
      <setting name="AllowedImageExtensions" serializeAs="String">
        <value>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</value>
      </setting>
      <setting name="AllowedFileExtensions" serializeAs="String">
        <value>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</value>
      </setting>
      <setting name="AllowedVideoExtensions" serializeAs="String">
        <value>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</value>
      </setting>
      <setting name="AllowedMusicExtensions" serializeAs="String">
        <value>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</value>
      </setting>
      <setting name="AllowedMiscExtensions" serializeAs="String">
        <value />
      </setting>
      <setting name="UploadPath" serializeAs="String">
        <value>resources\files</value>
      </setting>
      <setting name="ThumbPath" serializeAs="String">
        <value>resources\thumbs</value>
      </setting>
      <setting name="AllowUploadFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowDeleteFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowCreateFolder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowDeleteFolder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxUploadSizeMb" serializeAs="String">
        <value>100</value>
      </setting>
    </TinyFileManager.NET.Properties.Settings>
    <TinyFileManager.Properties.Settings>
      <setting name="Message_UploadTooBig" serializeAs="String">
        <value>The upload exceeds the max filesize allowed</value>
      </setting>
      <setting name="AllowedImageExtensions" serializeAs="String">
        <value>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</value>
      </setting>
      <setting name="AllowedFileExtensions" serializeAs="String">
        <value>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx'</value>
      </setting>
      <setting name="AllowedVideoExtensions" serializeAs="String">
        <value>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</value>
      </setting>
      <setting name="AllowedMusicExtensions" serializeAs="String">
        <value>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</value>
      </setting>
      <setting name="AllowedMiscExtensions" serializeAs="String">
        <value>'zip', 'rar'</value>
      </setting>
      <setting name="UploadPath" serializeAs="String">
        <value>resources\files</value>
      </setting>
      <setting name="ThumbPath" serializeAs="String">
        <value>resources\thumbs</value>
      </setting>
      <setting name="AllowUploadFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowDeleteFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowCreateFolder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowDeleteFolder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxUploadSizeMb" serializeAs="String">
        <value>100</value>
      </setting>
    </TinyFileManager.Properties.Settings>
  </applicationSettings>
</configuration>
